################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCProject/.vs/MVCProject
/MVCProject/MVCProject/bin/Debug/netcoreapp3.1
/MVCProject/MVCProject/obj
